<ul class="nav nav-pills flex-sm-column justify-content-center col-sm-3">
      <li class="nav-item"><%= link_to "アカウント", user_account_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "プロフィール", user_profile_path, class: "nav-link active" %></li>
</ul>