/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
    display: flex;
    justify-content: space-between;
}

.drop-down-menu {
    margin: 0px;
    padding: 0px 0px 0px 15px; 
    
}

.drop-down-menu li {
    width: 125px;
    list-style: none;
    position: relative;

}

.drop-down-menu li a {
    display: block; 
    border: solid 1px silver;
    line-height: 40px; 
    text-decoration: none; 
    text-align: center;  
}
   

.drop-down-menu ul {
    margin: 0px;
    padding: 0px; 
    display: none; 
    position: absolute; 
 }
 